<section class='boxes' data-js="boxes">
    <div class='wrapper'>

        <h2>Boxes</h2>
        <div class="boxes__cont">
            <div class="boxes__box">
                <div class="boxes__img">
                    <img src="./img/hero-tab.jpg"> 
                </div>
                <h3>nagłówek1</h3>
                <p>Lorem ipsumLorem ipsumLorem ipsumLorem</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__img">
                    <img src="./img/koliber240.jpg"> 
                </div>
                <h3>nagłówek 2</h3>
                <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__img">
                    <img src="./img/koliber240.jpg"> 
                </div>
                <h3>nagłówek3</h3>
                <p>tekst</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__img">
                    <img src="./img/koliber240.jpg"> 
                </div>
                <h3>nagłówek4</h3>
                <p>Lorem ipsumLorem ipsumLorem </p>
            </div>
        </div>

    </div>
</section>