<header class='boxes' data-js="boxes">
    <div class='wrapper'>

        <h2>Category</h2>
        <div class="boxes__cont">
                <div class="box">
                        <div class="box-img">
                                <img src="./img/zebra480.jpg" alt="">

                            </div>
                                    <h3 class=""> Podpis pod zdjęciem</h3>
                                    <p class="">opis</p>
                </div>
                <div class="box">
                        <div class="box-img">
                                <img src="./img/los480.jpg" alt="">

                            </div>
                            
                                    <h3 class=""> Podpis pod zdjęciem</h3>
                                    <p class="">opis</p>
                            
                </div>
                <div class="box">
                        <div class="box-img">
                                <img src="./img/koliber480.jpg" alt="">

                            </div>
                            
                                    <h3 class=""> Podpis pod zdjęciem</h3>
                                    <p class="">opis</p>
                            
                </div>
                <div class="box">
                        <div class="box-img">
                                <img src="./img/tygrys480.jpg" alt="">

                            </div>
                            
                                    <h3 class=""> Podpis pod zdjęciem</h3>
                                    <p class="">opis</p>
                             
                </div>
                
         
                    
                

                <!-- <figure>
                        <picture>
                                <source media="(min-width: 1200px)" srcset="./img/los480.jpg">
                                    <source media="(min-width: 768px)" srcset="./img/los384.jpg">
                                    <source media="(orientation:portrait)" srcset="./img/los240.jpg">
                                    <img src="./img/los240.jpg" alt="">
                        </picture>
            
                        <figcaption>
                            <h3>Podpis pod zdjęciem</h3>
                            <p>opis</p>
                        </figcaption>
                    </figure>

                <figure>
                        <picture>
                                <source media="(min-width: 1200px)" srcset="./img/koliber480.jpg">
                                    <source media="(min-width: 768px)" srcset="./img/koliber384.jpg">
                                    <source media="(orientation:portrait)" srcset="./img/koliber240.jpg">
                                    <img src="./img/koliber240.jpg" alt="">
                        </picture>
            
                        <figcaption>
                            <h3>Podpis pod zdjęciem</h3>
                            <p>opis</p>
                        </figcaption>
                    </figure>

                    <figure>
                            <picture>
                                    <source media="(min-width: 1200px)" srcset="./img/tygrys480.jpg">
                                        <source media="(min-width: 768px)" srcset="./img/tygrys384.jpg">
                                        <source media="(orientation:portrait)" srcset="./img/tygrys240.jpg">
                                        <img src="./img/tygrys240.jpg" alt="">
                            </picture>
                
                            <figcaption>
                                <h3>Podpis pod zdjęciem</h3>
                                <p>opis</p>
                            </figcaption>
                        </figure> -->

        </div>
        
        

    </div>
</header>