<header class='figure' data-js="figure">
    <div class='wrapper'>

        <figure>
            <picture>
                <source media="(min-width: 1200px)" srcset="./img/flaming1920.jpg">
                <source media="(min-width: 768px)" srcset="./img/flaming1536.jpg">
                <source media="(orientation:portrait)" srcset="./img/flaming860-p.jpg">
                <img src="./img/flaming742.jpg" alt="">
            </picture>

            <figcaption>
                <h3>Podpis pod zdjęciem</h3>
            </figcaption>
        </figure>

    </div>
</header>