<nav>
    <div class="wrapper">
        <div class="nav-Container">
            
            <img src="img/wild-things60.png" 
                srcset="img/wild-things120.png 2x, img/wild-things180.png 3x" alt="logo" class="logo" />

            <button class="nav-Button" data-js="navButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-list">
                <li>
                    <a href="#">CATEGORY 1</a>
                </li>
                <li>
                    <a href="#">CATEGORY 2</a>
                </li>
                <li>
                    <a href="#">CATEGORY 3</a>
                </li>
                <li>
                    <a href="#">CATEGORY 4</a>
                </li>
                <li>
                    <a href="#">CATEGORY 5</a>
                </li>
            </ul>
        </div>

    </div>
</nav>