<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    <link rel="stylesheet" href="css/style.css">  

</head>

<body>

    <h1>Nagłówek H1</h1>
    <h2>Nagłówek H2</h2>
    <h3>Nagłówek H3</h3>
    <p>tekst paragrafu</p>
    <p class="small">mniejszy tekst paragrafu</p>

    <a class="btn">DALEJ</a>
    <br/><br/>
    <input class="npt" type="text" placeholder="Wpisz imię"/>
    <br/><br/>
    <input class="npt" type="text" placeholder="Wpisz imię" disabled/>
    <br/><br/>
    <input class="npt npt-error" value="mój tekst" type="text" placeholder="Wpisz imię"/>

</body>

</html>