<section class='component boxes'>
    <div class='wrapper'>

        <h2>Category</h2>

        <div class='boxes-cont'>
            <div class='box'>
                <div class='box-img'>
                    <img src='/img/zebra240.jpg' srcset="/img/zebra240.jpg 240w, /img/zebra384.jpg 384w, /img/zebra480.jpg 480w" sizes="(min-width:1600px) 300px,(min-width:1200px) 240px,(min-width:768px) calc(34vw - 4rem),(min-width:420px) calc(50vw - 3rem), (min-width:360px) calc(100vw - 4rem), calc(100vw - 48px)" alt='Zebra stoi na sawannie'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum</a>
                <p class='box-text'>Photo by Adriaan Greyling from Pexels</p>
            </div>
            <div class='box'>
                <div class='box-img'>
                    <img src='/img/los240.jpg' srcset="/img/los240.jpg 240w, /img/los384.jpg 384w, /img/los480.jpg 480w" sizes="(min-width:1600px) 300px,(min-width:1200px) 240px,(min-width:768px) calc(34vw - 4rem),(min-width:420px) calc(50vw - 3rem), (min-width:360px) calc(100vw - 4rem), calc(100vw - 48px)" alt='Łoś leży na łące'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum dolor sit amet</a>
                <p class='box-text'>Lorem ipsum dolor</p>
            </div>
            <div class='box box--text-center'>
                <div class='box-img box-img--circle'>
                    <img src='/img/koliber240.jpg' srcset="/img/koliber240.jpg 240w, /img/koliber384.jpg 384w, /img/koliber480.jpg 480w" sizes="(min-width:1600px) 300px,(min-width:1200px) 240px,(min-width:768px) calc(34vw - 4rem),(min-width:420px) calc(50vw - 3rem), (min-width:360px) calc(100vw - 4rem), calc(100vw - 48px)" alt='Koliber'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum</a>
                <p class='box-text'>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
            </div>
            <div class='box box--text-center'>
                <div class='box-img box-img--circle'>
                    <img src='/img/tygrys240.jpg' srcset="/img/tygrys240.jpg 240w, /img/tygrys384.jpg 384w, /img/tygrys480.jpg 480w" sizes="(min-width:1600px) 300px,(min-width:1200px) 240px,(min-width:768px) calc(34vw - 4rem),(min-width:420px) calc(50vw - 3rem), (min-width:360px) calc(100vw - 4rem), calc(100vw - 48px)" alt='Tygrys'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum</a>
                <p class='box-text'>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
</section>