<section class='component swiper'>
    <div class='wrapper'>

        <h2>Slider</h2>

        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img class="graphic__img lazy"  alt="Flaming" 
                data-src="/img/flaming742.jpg"  ></div>
              <div class="swiper-slide">
                  <img src='/img/zebra480.jpg' alt='Zebra stoi na sawannie' class="lazy" />
              </div>
              <div class="swiper-slide "><img src='/img/koliber480.jpg' alt='' class="lazy"/></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        
    </div>
</section>