.boxes{


    &__cont{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -.5 * $space;
    }

    &__box{
        display: inline-block;
        flex-basis: 50%;
        padding: .5 * $space;
        // width: 25%;

        box-shadow: 0 0 10px 10px yellow;


        @media (min-width: $bpoint_tab) {
            flex-basis: 25%;
        }

    }

    &__img{
        position: relative;
        padding-bottom: 100%;
        background: $color_1;
        border-radius: 50%;
        overflow: hidden;
        img{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }



    
}